---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Clowers" description="A simple and elegant flower shop website.">
    <div class="flex items-center justify-start w-full px-118 mt-10">
        <aside class="flex flex-col space-y-4">
            <div class="w-45"><Card /></div>
            <div class="w-45"><Card /></div>
            <div class="w-45"><Card /></div>
            <slot />
        </aside>
        <main class="ml-12">
            <div class="w-[600px] h-[400px]">
                <Card />
            </div>
        </main>
    </div>
</Layout>
