---
import UserIcon from '../components/icons/User.astro';
import Bag from '../components/icons/Bag.astro';
import SearchIcon from '../components/icons/Search.astro';
---
<header class="flex flex-col md:flex-row items-center justify-between px-6 py-4 w-full">
    <div class="flex flex-col items-center justify-center w-full max-w-4xl mx-auto">
        <img src="/logo.png" alt="Clowrs Logo" class="w-40 h-20 md:w-70 md:h-40 mb-2" />
        <nav class="flex flex-wrap space-x-2 md:space-x-4 items-center justify-center">
            <ul class="flex flex-wrap justify-center space-x-2 md:space-x-4 text-sm md:text-lg font-semibold">
                <li><a class="hover:text-pink-600" href="/">Inicio</a><span class="hidden md:inline mx-2">|</span></li>
                <li><a class="hover:text-pink-600" href="#">Flores</a><span class="hidden md:inline mx-2">|</span></li>
                <li><a class="hover:text-pink-600" href="#">Ocasiones</a><span class="hidden md:inline mx-2">|</span></li>
                <li><a class="hover:text-pink-600" href="#">Ramos</a><span class="hidden md:inline mx-2">|</span></li>
                <li><a class="hover:text-pink-600" href="#">Cestas Florales</a><span class="hidden md:inline mx-2">|</span></li>
                <li><a class="hover:text-pink-600" href="#">Jarron de Flores</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    a {
        font-weight: lighter;
        text-transform: uppercase;
    }
</style>
